* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e4e4e4;
  color: black;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: 600;
  margin: 3rem 0;
}
