* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e4e4e4;
  color: black;
}

h1 {
  display: flex !important;
  justify-content: center !important;
  font-size: 3rem !important;
  font-weight: 600 !important;
  margin: 3rem 0 !important;
}
